@import url(normalize.css);

*, *:before, *:after {
    box-sizing: border-box;
  }

:root {
    --clr-primary: hsl(214, 98%, 19%);
    --clr-secondary: hsl(202, 28%, 22%);
    --clr-special: hsl(131, 32%, 62%);
    --clr-link: hsl(323, 72%, 24%);
    --clr-crazy: hsl(59, 100%, 52%);
    --clr-swap: hsl(0, 0%, 100%);

    --ff-primary: 'Ubuntu', sans-serif;
    --ff-headline: 'Raleway', sans-serif;
    --ff-accent: 'Permanent Marker', cursive;
}

body {
    font-family: var(--ff-primary);
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.6;
    text-shadow: 1px 1px #00000038;
}

.mainline {
    font-family: var(--ff-accent);
    font-size: 5rem;
    letter-spacing: 0.1rem;
    color: var(--clr-crazy);
}

header {
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('../img/code.jpg');
    /*background-image: url("../img/code.jpg");*/
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

header,
section {
    padding: 3rem 0;
}

@media (min-width: 40rem) {

    header,
    section {
        padding: 7rem 0;
    }
}

.container {
    margin-inline: auto;
    width: min(90%, 70.2rem);
}

.container--narrow {
    max-width: 30rem;
}

.split {
    display: flex;
    flex-direction: column;
}

img.imagery {
    padding: 0;
}

@media (min-width: 42em) {
    .split {
        flex-direction: row;
    }

    .split>* {
        flex-basis: 100%;
    }

    .split>*+* {
        margin-left: 2em;
    }
}

.mainline {
    font-family: var(--ff-accent);
    font-size: 5rem;
    letter-spacing: 0.1rem;
    color: var(--clr-crazy);
}

h1  {
    font-size: 4rem;
    font-family: var(--ff-headline);
    font-weight: 900;
    line-height: 1;
    margin-bottom: 1em;
    letter-spacing: 1px;
}

h2{
    font-size: 3rem;
    font-family: var(--ff-headline);
    font-weight: 900;
    line-height: 1.2;
    margin-bottom: 1em;
    letter-spacing: 1px;;
}

.bg-primary {
    background-color: var(--clr-primary);
}

.bg-secondary {
    background-color: var(--clr-secondary);
}

.bg-special {
    background-color: var(--clr-special);
}

.bg-gradient {
    background: rgb(1,41,92);
    background: linear-gradient(176deg, rgba(1,41,92,1) 0%, rgba(107,12,26,1) 100%); 
}

.bg-image {
    background-image: url(../img/bg-design.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.text-light {
    color: var(--clr-swap);
}

.text-dark {
    color: var(--clr-primary);
}

.text-center {
    text-align: center;
}

a {
    text-decoration: none;
    color: var(--clr-link);
}

.link-light {
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.6;
    text-decoration: none;
    color: var(--clr-crazy)
}

.hero {
    background-color: var(--clr-primary);
}

.full-height {
    min-height: 100vh;
}

p {
    font-size: 1.6rem;
}

/* List styles */

ul {
    padding-left: 5%;
    font-size: 1.6rem;

}

ul.languages {
    font-family: var(--ff-headline);
    font-size: 1.5rem;
    list-style: none;
    padding-left: 0%;
}

/* Buttons  */

button {
    text-transform: uppercase;
    cursor: pointer;
    border: none;
    padding: 20px 32px;
    margin: 12px auto;
    font-family: var(--ff-primary);
    color: var(--clr-swap);
    background-color: var(--clr-primary);
    letter-spacing: 1px;
    font-weight: 700;
    outline: none;
    position: relative;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.btn:after {
    content: '';
    position: absolute;
    z-index: -1;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

/* Button 1 */
.btn-1 {
    background: var(--clr-primary);
    color: #fff;
}

.btn-1:hover {
    background: #2e6b94;
}

.btn-1:active {
    background: #3aa9f3;
    top: 2px;
}

.icons {
    margin-left: 0.7em;
    margin-top: 1em;
 }

 img {
    max-width: 100%;
    max-height: 100%;
}

footer {
    background-color: var(--clr-primary);
}

#contact-form {

    display: inline-block;
}

input[type=button], input[type=submit], input[type=reset] {
    background: var(--clr-primary);
    border: none;
    color: rgb(255, 255, 255);
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
  }

input:hover[type=button], input:hover[type=submit], input:hover[type=reset] {
    background-color: #4711da;
    border: none;
    background: #083c5e;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
  }

input,
textarea {
    font-family:inherit;
    font-size: inherit;
    color: var(--clr-primary);
    display: block;
    width: 100%;
    padding:10px;
    margin:10px 0;
    border: 0;
    border-radius:10px;
	font-size: 1.5rem;
    box-shadow:0 0 15px 4px rgba(0, 0, 0, 0.103);
}

 /* Tooltip container */
 .tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
  }
  
  /* Tooltip text */
  .tooltip .tooltiptext {
    visibility: hidden;
    width: auto;
    background-color: rgb(1, 2, 51);
    color: #fff;
    text-align: left;
    padding: 5px 5px 5px 5px;
    border-radius: 6px;
  
    /* Position the tooltip text */
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
  
    /* Fade in tooltip */
    opacity: 0;
    transition: opacity 0.3s;
  }
  
  /* Tooltip arrow */
  .tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: rgb(1, 2, 51) transparent transparent transparent;
  }
  
  /* Show the tooltip text when you mouse over the tooltip container */
  .tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
  } 

  div.image {
    margin-top: 2em;
  }