@import url(normalize.css);

:root {
    --clr-primary: hsl(214, 98%, 19%);
    --clr-secondary: hsl(202, 28%, 22%);
    --clr-special: hsl(131, 32%, 62%);
    --clr-link: hsl(323, 72%, 24%);
    --clr-crazy: hsl(59, 100%, 52%);
    --clr-swap: hsl(0, 0%, 100%);

    --ff-primary: 'Ubuntu', sans-serif;
    --ff-headline: 'Ubuntu', sans-serif;
    --ff-accent: 'Permanent Marker', cursive;
}

body {
    font-family: var(--ff-primary);
    font-weight: 400;
    font-size: 1.3;
    line-height: 1.6;
}

.mainline {
    font-family: var(--ff-accent);
    font-size: 5rem;
    letter-spacing: 0.1rem;
    color: var(--clr-crazy);
}

header {
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('../img/code.jpg');
    /*background-image: url("../img/code.jpg");*/
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

header,
section {
    padding: 4rem 0;
}

@media (min-width: 40rem) {

    header,
    section {
        padding: 7rem 0;
    }
}

.container {
    margin-inline: auto;
    width: min(90%, 70.2rem);
}

.container--narrow {
    max-width: 30rem;
}

.split {
    display: flex;
    flex-direction: column;
}

@media (min-width: 42em) {
    .split {
        flex-direction: row;
    }

    .split>* {
        flex-basis: 100%;
    }

    .split>*+* {
        margin-left: 2em;
    }
}

.mainline {
    font-family: var(--ff-accent);
    font-size: 5rem;
    letter-spacing: 0.1rem;
    color: var(--clr-crazy);
}

.mainline2 {
    font-family: var(--ff-accent);
    font-size: 3rem;
    letter-spacing: 0.1rem;
    color: var(--clr-primary);
}

h1,
h2,
h3 {
    font-size: 1.8rem;
    font-family: var(--ff-headline);
    font-weight: 900;
    ;
    line-height: 1;
    margin-bottom: 1em;
}

.bg-primary {
    background-color: var(--clr-primary);
}

.bg-secondary {
    background-color: var(--clr-secondary);
}

.bg-special {
    background-color: var(--clr-special);
}

.bg-gradient {
    background: rgb(1,41,92);
    background: linear-gradient(176deg, rgba(1,41,92,1) 0%, rgba(107,12,26,1) 100%); 
}

.bg-image {
    background-image: url(../img/bg-keyboard.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.text-light {
    color: var(--clr-swap);
}

.text-dark {
    color: var(--clr-primary);
}

.text-center {
    text-align: center;
}

a {
    text-decoration: none;
    color: var(--clr-link);
}

.link-light {
    text-decoration: none;
    color: var(--clr-crazy)
}

.hero {
    background-color: var(--clr-primary);
}

.full-height {
    min-height: 100vh;
}

p {
    font-size: 1.6rem;
}

/* List styles */

ul {
    padding-left: 5%;
    font-size: 1.7rem;

}

ul.languages {
    font-size: 1.7rem;
    list-style: none;
    padding-left: 0%;

}

.offset {
    margin-left: 40%;
}


/* Buttons  */

button {
    text-transform: uppercase;
    cursor: pointer;
    border: none;
    padding: 20px 32px;
    margin: 12px auto;
    font-family: var(--ff-primary);
    color: var(--clr-swap);
    background-color: var(--clr-primary);
    letter-spacing: 1px;
    font-weight: 700;
    outline: none;
    position: relative;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.btn:after {
    content: '';
    position: absolute;
    z-index: -1;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

/* Button 1 */
.btn-1 {
    background: var(--clr-primary);
    color: #fff;
}

.btn-1:hover {
    background: #2e6b94;
}

.btn-1:active {
    background: #3aa9f3;
    top: 2px;
}



.icons {
    margin-left: 0.7em;
    margin-top: 1em;
 }

 img {
    max-width: 100%;
    max-height: 100%;
}

.fill {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden
}
.fill img {
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%
}

.imagery {
    margin: auto;
    padding: auto;
}

.imagebox {
    margin: auto;
    padding: 0%;
}

footer {
    background-color: var(--clr-primary);
}

#contact-form {
    display: inline-block;
}

input[type=button], input[type=submit], input[type=reset] {
    background: var(--clr-primary);
    border: none;
    color: rgb(255, 255, 255);
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
  }

input:hover[type=button], input:hover[type=submit], input:hover[type=reset] {
    background-color: #4711da;
    border: none;
    background: #083c5e;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
  }

input,
textarea {
    color: var(--clr-primary);
    display: block;
    width: 100%;
    margin-top: 1em;
    padding: 0%;
    border: 0;
	border-bottom: 1px solid rgba(29, 1, 105, 0.7);
	font-size: 1.2em;
}